@charset "UTF-8";
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Light.eot");
  src: local("☺"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#webfont") format("svg"); }

@font-face {
  font-family: 'Gotham medium';
  src: url("../fonts/gotham-medium.eot");
  src: local("☺"), url("../fonts/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium.ttf") format("truetype"), url("../fonts/gotham-medium.svg#webfont") format("svg"); }

.navbar-brand {
  color: #121212 !important; }

.navbar-brand span {
  color: #EB0029; }

.header-section h4, .precalificador-section h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  color: #EB0029;
  letter-spacing: 0; }

span.action {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #4E6E82;
  letter-spacing: 0;
  line-height: 30px;
  display: block; }

#cotizador h1 {
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0; }

#cotizador h1:after {
  content: '';
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  margin-right: -100%;
  margin-left: 10%;
  border-bottom: 1px solid #EB0029; }

.cotizador-big-title {
  font-size: 14px;
  color: #121212;
  letter-spacing: 0;
  line-height: 20px; }

.cotizador-valor-md {
  font-family: 'Gotham';
  font-size: 18px;
  color: #EB0029; }

.cotizador-results p {
  color: #EB0029;
  padding: 10px 0; }

.cotizador-results .radio-year-label {
  color: #121212 !important; }

.solicitud-container h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  color: #4E6E82;
  letter-spacing: 0; }

.solicitud-container h2 span {
  color: #EB0029; }

.solicitud-container h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #4E6E82;
  letter-spacing: 0;
  padding: 25px 0; }

.solicitud-container hr {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

.red {
  color: #EB0029 !important; }

li.corner-border:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: -10px;
  border-top: 2px solid #EB0029;
  border-left: 2px solid #EB0029; }

li.corner-border:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  right: 0px;
  border-top: 2px solid #EB0029;
  border-right: 2px solid #EB0029; }

li.corner-border a:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  left: -10px;
  border-bottom: 2px solid #EB0029;
  border-left: 2px solid #EB0029; }

li.corner-border a:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  right: 0px;
  border-bottom: 2px solid #EB0029;
  border-right: 2px solid #EB0029; }

div.corner-border {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #121212;
  letter-spacing: 0;
  line-height: 28px; }

div.corner-border:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0px;
  border-top: 2px solid #EB0029;
  border-left: 2px solid #EB0029; }

div.corner-border:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 0px;
  border-top: 2px solid #EB0029;
  border-right: 2px solid #EB0029; }

div.corner-border span:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: 0px;
  border-bottom: 2px solid #EB0029;
  border-left: 2px solid #EB0029; }

div.corner-border span:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  right: 0px;
  border-bottom: 2px solid #EB0029;
  border-right: 2px solid #EB0029; }

.btn-red {
  background: #EB0029;
  border-radius: 4px;
  margin: 36px 0;
  padding: 21px 9px;
  font-family: 'Gotham medium';
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
  width: 205px; }

.btn-small {
  padding: 7px 10px;
  text-transform: uppercase; }

.btn-small-center {
  padding: 7px 10px;
  text-align: center;
  margin-bottom: 0; }

.btn-red:hover {
  color: #ffffff; }

.btn-red .fa {
  float: right; }

.header-calculate-options {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 90px;
  text-align: center;
  padding: 35px; }

.header-calculate-options:hover:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.header-calculate-options:hover:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.header-calculate-options a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #4E6E82;
  letter-spacing: 0;
  line-height: 20px; }

.header-calculate-options:hover a {
  text-decoration: none;
  color: #121212; }

.header-calculate-options:hover a:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.header-calculate-options:hover a:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.cotizador-input {
  font-family: 'Ubuntu', sans-serif;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  min-height: 360px;
  text-align: center;
  padding: 0 25px; }

.cotizador-input img {
  padding: 20px 0; }

.cotizador-input span {
  cursor: pointer; }

.cotizador-input h2 {
  font-family: 'Gotham';
  font-size: 24px;
  color: #4E6E82;
  letter-spacing: 0;
  line-height: 28px; }

.cotizador-input .form-input {
  width: 85%;
  margin: 0 auto; }

.form-control {
  border: 0;
  border-bottom: 1px solid #EB0029;
  outline: none;
  -webkit-appearance: none;
  font-size: 12px;
  text-align: center;
  color: #4E6E82;
  width: 100%;
  text-align: left;
  border-radius: 0;
  box-shadow: none; }

.cotizador-input span {
  color: #EB0029;
  font-size: 12px;
  display: block;
  padding-top: 10px;
  text-align: left; }

.cotizador-input .fa {
  border: 1px solid #EB0029;
  padding: 1px; }

.cotizador-input .btn {
  width: 85%; }

.cotizador-corner-top:before, .ofertas-corner-top.active:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 15px;
  border-top: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.cotizador-corner-top:after, .ofertas-corner-top.active:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 15px;
  border-top: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.cotizador-results:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 15px;
  border-bottom: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.cotizador-results:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 15px;
  border-bottom: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.cotizador-results {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  min-height: 545px;
  text-align: center; }

input[type=radio] {
  display: none; }

.cotizador-results label:before {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: -10px;
  left: 30px;
  border-top: 1px solid #DADADA;
  border-left: 1px solid #DADADA; }

.cotizador-results label:after {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: -10px;
  right: 30px;
  border-top: 1px solid #DADADA;
  border-right: 1px solid #DADADA; }

.cotizador-results input:checked + label:before {
  border-top: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.cotizador-results input:checked + label:after {
  border-top: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.cotizador-results label span:before {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 44px;
  left: 30px;
  border-bottom: 1px solid #DADADA;
  border-left: 1px solid #DADADA; }

.cotizador-results label span:after {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 44px;
  right: 30px;
  border-bottom: 1px solid #DADADA;
  border-right: 1px solid #DADADA; }

.cotizador-results input:checked + label span:before {
  border-bottom: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.cotizador-results input:checked + label span:after {
  border-bottom: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.list-options {
  padding-right: 0; }

.option-calc .fa {
  float: left;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.option-calc.active {
  background: #ffffff;
  color: #121212; }

.option-calc.active .fa {
  color: #EB0029;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }

.option-calc {
  background: #F8F8F8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: block;
  height: 90px;
  text-align: right;
  padding: 35px 16px;
  width: 100%;
  font-size: 14px;
  color: #4E6E82;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer; }

.cotizador-panels {
  padding: 75px 30px 10px 30px; }

.testimonial-panels {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  min-height: 70vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.testimonial-panel {
  background: #fff;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -ms-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  font-size: 20px;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.testimonial-panel1 {
  background-image: url("../img/testimony1.jpg"); }

.testimonial-panel2 {
  background-image: url("../img/testimony2.jpg"); }

.testimonial-panel3 {
  background-image: url("../img/testimony3.jpg"); }

.testimonial-panel4 {
  background-image: url("../img/testimony4.jpg"); }

/* Flex Items */
.testimonial-panel > * {
  text-align: center;
  padding: 30px 60px; }

.testimonial-panel > div > p {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px; }

.testimonial-panel > div > img {
  height: 30px; }

.proceso {
  margin-bottom: 90px; }

.proceso h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #000000;
  padding: 116px 0;
  text-align: center; }

.proceso h1 span {
  display: block;
  font-size: 36px;
  color: #EB0029; }

.step-panel {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 22px; }

.step-icon {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 104px;
  height: 104px;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  top: -42px; }

.step-icon:before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.step-icon:after {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.step-icon span:before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.step-icon span:after {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.panel-precalificador {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  min-height: 70vh; }
  .panel-precalificador h5 {
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0; }
  .panel-precalificador span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #121212;
    letter-spacing: 0;
    line-height: 20px; }

.panel-precalificador .form-group {
  width: 100%;
  padding-top: 30px; }

.form-group label {
  font-size: 11px;
  float: left; }

.panel-precalificador .code-submit {
  text-align: center; }

.panel-precalificador .code-input {
  outline: none;
  background: transparent;
  border: 2px solid #4E6E82;
  font-size: 14px;
  text-align: center;
  width: 80px;
  height: 30px;
  margin: 0 5px; }

.panel-precalificador:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.panel-precalificador:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.precalificador-container:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.precalificador-container:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.ofertas-corner-top.active .propuesta-elegir:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 30px;
  left: 15px;
  border-bottom: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.ofertas-corner-top.active .propuesta-elegir:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 30px;
  right: 15px;
  border-bottom: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.propuesta-elegir {
  background: #F8F8F8;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  font-family: 'Ubuntu', sans-serif;
  color: #4E6E82;
  letter-spacing: 0;
  padding: 0 0 15px 0; }

.ofertas-corner-top.active .propuesta-elegir {
  color: #121212;
  background: #ffffff; }

.propuesta-elegir .cotizador-valor-md, .propuesta-elegir .cotizador-big-title {
  color: #4E6E82 !important; }

.ofertas-corner-top.active .propuesta-elegir .cotizador-valor-md {
  color: #EB0029 !important; }

.ofertas-corner-top.active .propuesta-elegir .cotizador-big-title {
  color: #121212 !important; }

.propuesta-elegir label:before {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: relative;
  top: 8px;
  left: -20px;
  border-top: 1px solid #DADADA;
  border-left: 1px solid #DADADA; }

.propuesta-elegir label:after {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: relative;
  top: -29px;
  right: -20px;
  border-top: 1px solid #DADADA;
  border-right: 1px solid #DADADA; }

.propuesta-elegir label span:before {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 40px;
  left: 45px;
  border-bottom: 1px solid #DADADA;
  border-left: 1px solid #DADADA; }

.propuesta-elegir label span:after {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 40px;
  right: 45px;
  border-bottom: 1px solid #DADADA;
  border-right: 1px solid #DADADA; }

.ofertas-corner-top.active .propuesta-elegir label:before {
  border-top: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.ofertas-corner-top.active .propuesta-elegir label:after {
  border-top: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.ofertas-corner-top.active .propuesta-elegir label span:before {
  border-bottom: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.ofertas-corner-top.active .propuesta-elegir label span:after {
  border-bottom: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.solicitud-container .panel-default > .panel-heading {
  color: #333;
  background-color: #ffffff;
  border-color: none; }

.solicitud-container .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ffffff; }

.panel-title {
  width: 100%; }

.panel-title > a {
  text-decoration: none; }

.panel-title img {
  float: right; }

.subtitle-info {
  display: block;
  color: #4E6E82;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin-bottom: 10px; }

.squaredThree {
  width: 100%;
  position: relative;
  text-align: left;
  margin: 28px 0px;
  padding-bottom: 20px;
  color: #4E4044;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px; }
  .squaredThree label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red; }
    .squaredThree label:after {
      content: '';
      width: 12px;
      height: 7px;
      position: absolute;
      top: 4px;
      left: 3px;
      border: 3px solid red;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .squaredThree label:hover::after {
      opacity: 0.3; }
  .squaredThree input[type=checkbox] {
    visibility: hidden; }
    .squaredThree input[type=checkbox]:checked + label:after {
      opacity: 1; }
  .squaredThree a {
    display: inline !important;
    color: #EB0029;
    text-decoration: none; }
  .squaredThree div {
    display: inline;
    padding-left: 20px;
    position: absolute;
    margin-bottom: 20px; }

.modal-dialog {
  width: 50%;
  margin: 60px auto; }

.modal-content {
  display: table;
  /* This is important */
  background-image: url("../img/modalFolioBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  font-family: 'Ubuntu', sans-serif; }

.modal-header {
  border: 0; }

.modal-header .close {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: -40px;
  font-size: 44px;
  font-weight: 100;
  color: #EB0029;
  opacity: 1; }

.modal .panel .panel-body img {
  margin: 0 auto; }

.modal .form-group {
  padding-top: 40px;
  font-size: 11px; }

.modal .form-group input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #EB0029;
  outline: none;
  -webkit-appearance: none;
  font-size: 11px;
  text-align: center;
  color: #a6a6a6;
  width: 100%;
  text-align: left;
  box-shadow: none; }

.form-group select.form-control {
  display: inline-block;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #EB0029;
  box-shadow: none;
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 23px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
  background-size: 8px 8px, 8px 8px;
  background-repeat: no-repeat;
  font-size: 12px;
  color: #4E6E82; }

.modal .btn {
  margin-top: 50px; }

.modal-folio {
  width: 40%; }

.modal-folio-width {
  width: 250px;
  margin: 0 auto; }

.modal-folio .olvide-folio {
  display: block;
  font-size: 12px;
  color: #EB0029;
  letter-spacing: 0;
  line-height: 16px;
  float: left;
  padding-top: 10px;
  text-decoration: none;
  cursor: pointer; }

.modal-folio .form-group {
  padding-top: 20px; }

.modal-folio p {
  font-family: 'Gotham';
  font-size: 16px; }

.modal-folio p span {
  color: #EB0029; }

.modal-folio .btn {
  display: block;
  width: 100%; }

.modal-folio img {
  padding-top: 30px;
  height: 100px; }

#olvide-folio p {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 30px;
  font-size: 14px;
  color: #121212; }

#input-sms-code p {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 10px;
  font-size: 14px;
  color: #121212; }

.modal-folio .code-submit {
  text-align: center; }

.modal-folio .code-input {
  outline: none;
  background: transparent;
  border: 1px solid #4E6E82;
  font-size: 14px;
  text-align: center;
  width: 50px;
  height: 30px;
  margin: 0 5px; }

.modal-folio-width img {
  padding-bottom: 20px;
  height: 100px; }

#input-sms-code {
  margin: 35px 0px;
  width: 110%; }

.input-sms-code {
  margin: 35px 0px; }

.loading-background {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(78, 110, 130, 0.85);
  /* Black w/ opacity */ }

.loading-message {
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 17px;
  padding-top: 10%; }

.loading-message p {
  font-family: 'Gotham';
  font-size: 18px; }

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EB0029;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
  color: #121212;
  position: relative;
  margin: 0;
  min-height: 100%; }

.navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  height: 80px; }

.navbar-brand > img {
  height: 40px; }

.navbar-default {
  background: transparent;
  border: 0; }

.status {
  padding-top: 80px;
  padding-bottom: 20rem; }

.header-section {
  padding-top: 176px; }

.precalificador-section {
  padding-top: 110px; }

.testimonials {
  font-family: 'Ubuntu', sans-serif;
  text-align: center; }
  .testimonials .section-header {
    width: 100%;
    background: #EB0029; }
    .testimonials .section-header h1 {
      color: #ffffff;
      font-size: 36px;
      padding: 15px 0; }

#landing-section {
  text-align: center;
  height: 100%;
  /* Center and scale the image nicely */
  background-image: url("../img/header_bg_2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#footer {
  background: #4E6E82;
  color: #ffffff;
  bottom: 0; }

.footer-top {
  padding: 50px 0 30px;
  text-align: center; }

.footer-top .tel span {
  font-size: 36px; }

.footer-top p {
  font-size: 14px; }

.footer-top .question-contact p {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0; }

.footer-bottom {
  border-top: 1px solid #ffffff;
  padding: 15px; }

.footer-bottom img {
  height: 50px; }

.footer-bottom .text-footer-bottom {
  font-family: 'Gotham';
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 28px; }

.scrollmenu {
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }

.scrollmenu a {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  text-decoration: none;
  color: #4E6E82;
  font-size: 14px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Ubuntu', sans-serif; }

.scrollmenu .fa {
  color: #EB0029;
  opacity: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.scrollmenu a.active {
  background-color: #FFFFFF;
  color: #121212; }

.scrollmenu a.active .fa {
  opacity: 1; }

.solicitud-container {
  background: #ffffff; }

.solicitud-container .form-control {
  width: 100%;
  margin-bottom: 35px; }

.historial-crediticio img {
  padding-bottom: 15px; }

.historial-crediticio p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #121212;
  letter-spacing: 0;
  line-height: 16px; }

.radio-input-solicitud {
  width: 50px;
  position: relative;
  display: inline-block;
  text-align: center; }

.radio-input-solicitud label {
  margin: 10px; }

.radio-input-solicitud label:before {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #DADADA;
  border-left: 1px solid #DADADA; }

.radio-input-solicitud label:after {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #DADADA;
  border-right: 1px solid #DADADA; }

.radio-input-solicitud label span:before {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #DADADA;
  border-left: 1px solid #DADADA; }

.radio-input-solicitud label span:after {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #DADADA;
  border-right: 1px solid #DADADA; }

.radio-input-solicitud input:checked + label:before {
  border-top: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.radio-input-solicitud input:checked + label:after {
  border-top: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.radio-input-solicitud input:checked + label span:before {
  border-bottom: 1px solid #EB0029;
  border-left: 1px solid #EB0029; }

.radio-input-solicitud input:checked + label span:after {
  border-bottom: 1px solid #EB0029;
  border-right: 1px solid #EB0029; }

.padding-20 {
  padding-top: 20px; }

.input-success {
  position: absolute;
  font-size: 10px;
  color: #4E6E82;
  letter-spacing: 0;
  line-height: 16px;
  top: 58px; }

.form-control:focus {
  border-color: #EB0029;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none; }

.segunda-persona-radio-inputs-container {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #121212;
  font-family: 'Gotham';
  margin-left: 10px; }

.status-panel {
  margin-top: 35px;
  margin-bottom: 35px; }

/* importamos responsive al final */
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 1115px) {
  span.nav-expander {
    display: none; }
  #landing-section {
    background-size: 100%; }
  #landing-section.just-header {
    height: 80px; } }

@media (max-width: 436px) {
  .nav > li {
    position: absolute;
    display: block;
    top: 19px;
    right: 10px; }
  #landing-section {
    height: auto; }
  li.corner-border:before {
    top: -5px; }
  li.corner-border:after {
    top: -5px; }
  li.corner-border a:before {
    bottom: -5px; }
  li.corner-border a:after {
    bottom: -5px; }
  .navbar {
    min-height: 85px;
    margin-bottom: 0; }
  .header-section {
    padding-top: 90px; }
  .header-calculate-options {
    height: 50px;
    text-align: center;
    padding: 15px; }
  .option-calc {
    height: 50px;
    padding: 18px 16px; }
  .list-options {
    padding-left: 0; }
  .cotizador-panels {
    padding: 40px 10px; }
  .modal-dialog {
    width: 100%;
    margin: 60px auto; }
  .modal .btn {
    margin-top: 25px;
    margin-bottom: 15px; }
  .cotizador-results label:before {
    left: 15px; }
  .cotizador-results label:after {
    right: 15px; }
  .cotizador-results label span:before {
    left: 15px; }
  .cotizador-results label span:after {
    right: 15px; }
  .btn-small {
    margin-bottom: 15px; }
  .testimonial-panels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 90vh; }
  .step-panel {
    padding-bottom: 0;
    margin-bottom: 60px; }
  .step-panel p {
    padding: 0 0 10px;
    margin-top: -20px; }
  .proceso h1 {
    padding: 50px 0; }
  .testimonial-panel {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .proceso {
    margin-bottom: 0; }
  .footer-top .tel span {
    font-size: 18px; }
  .copyright {
    text-align: center; }
  .footer-top {
    padding: 20px 0 10px; }
  .precalificador-section {
    padding-top: 60px; }
  .precalificador-container {
    height: auto;
    display: -ms-grid;
    display: grid; }
  .squaredThree {
    padding-top: 45px; }
  .squaredThree label {
    position: relative; }
  #landing-section {
    height: auto;
    padding-top: 60px; }
  #footer {
    position: relative; }
  .panel-precalificador {
    padding-bottom: 30px; }
  .panel-precalificador .code-input {
    outline: none;
    background: transparent;
    border: 1px solid #4E6E82;
    font-size: 14px;
    text-align: center;
    width: 50px;
    height: 32px;
    margin: 0 5px; }
  #landing-section.just-header {
    height: 80px; } }

@media (min-width: 801px) {
  .cotizador-results {
    min-height: 360px; }
  .navbar-nav {
    float: right; }
  .navbar-brand {
    padding: 10px 15px; }
  .navbar-brand img {
    height: 60px; }
  .navbar-nav > li > a {
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: #121212 !important; }
  .desktop-nav-links {
    display: block; }
  #menu-mobile {
    display: none; }
  #nav-close {
    display: none; }
  .lead {
    padding: 60px 0; }
  .step {
    background: #fff;
    padding: 20px;
    margin: 18px 3px; }
  .step:hover {
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75); }
  #preguntas-frecuentes {
    height: 700px; }
  #preguntas-frecuentes h4 {
    font-weight: 800;
    letter-spacing: 2.5px;
    color: #fff;
    text-align: left;
    font-size: 19px; }
  .question {
    padding: 20px 40px; }
  #preguntas-frecuentes h4::after {
    content: '';
    top: 76px; }
  .testimony-name h2::after {
    top: 111px; }
  .testimony-quotes {
    padding-left: 0; }
  #preguntas-frecuentes p {
    font-weight: 100;
    letter-spacing: 2px;
    color: #fff;
    line-height: 23px;
    text-align: left;
    font-size: 12px;
    padding-top: 25px; }
  .cuadro-amarillo {
    width: 300px;
    height: 300px;
    background: #E9B52B;
    position: absolute;
    right: 84px;
    top: -142px; }
  h2.continua-titulo {
    color: #E9B52B;
    padding: 20px 0;
    font-size: 24px;
    text-align: left; }
  .btn.active.focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn:active:focus,
  .btn:focus {
    outline: none; }
  .sidebar-header p,
  .sidebar-header-profilepic {
    display: none; }
  ul.nav.navbar-nav li.profile img {
    height: 64px;
    border-radius: 50%; }
  ul.nav.navbar-nav li.profile-name {
    margin: 1em;
    top: 5px;
    font-weight: 600; }
  .scrollmenu {
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .scrollmenu li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px; }
  .scrollmenu li.active {
    color: #5b56a6;
    border-bottom: 2px solid #5b56a6; }
  .scrollmenu li span {
    display: inline-block; } }

/*# sourceMappingURL=style.css.map */
